<section class="gallery">
    <div class="gallery-wrapper">
        <div class="swiper gallery-slider">
            <div class="swiper-wrapper">
                {% for item in gallery %}
                <div class="swiper-slide gallery-item">
                    <img src="{{ item }}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="gallery-arrows container">
            <div class="big-slider-arrow big-slider-arrow--prev"></div>
            <div class="big-slider-arrow big-slider-arrow--next"></div>
        </div>
        <div class="gallery-pagination swiper-pagination slider-pagination"></div>
    </div>
</section>