<div class="socials">
    <a href="#"><img src="/assets/img/socials/Facebook.svg" alt=""></a>
    <a href="#"><img src="/assets/img/socials/Instagram.svg" alt=""></a>
    <a href="#"><img src="/assets/img/socials/Linkedin.svg" alt=""></a>
</div>