<footer class="footer">
    <div class="container footer-logo">
        <a href="/"><img src="/assets/img/logo-dark.svg" alt=""></a>
    </div>
    <div class="container footer-bottom">
        <div class="footer-menu">
            <ul>
                <li><a href="#" class="active">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Новости</a></li>
            </ul>
        </div>
        <div class="footer-info">
            <div class="footer-contacts">
                <div class="footer-title"><a href="#">Контакты</a></div>
                <div class="footer-contacts__list">
                    <div class="footer-contacts__item">
                        Джакарта, Индонезия<br />
                        Головной офис в регионе<br />
                        Юго-Восточная Азия<br />
                        <a href="mailto:info@ndminerals.com">info@ndminerals.com</a>
                    </div>
                    <div class="footer-contacts__item">
                        Джакарта, Индонезия<br />
                        Головной офис в регионе<br />
                        Юго-Восточная Азия<br />
                        <a href="mailto:info@ndminerals.com">info@ndminerals.com</a>
                    </div>
                    <div class="footer-contacts__item">
                        Джакарта, Индонезия<br />
                        Головной офис в регионе<br />
                        Юго-Восточная Азия<br />
                        <a href="mailto:info@ndminerals.com">info@ndminerals.com</a>
                    </div>
                </div>
            </div>
            <div class="footer-socials">
                {% include 'components/socials.html.twig' %}
                {% include 'components/copyright.html.twig' %}
            </div>
        </div>
    </div>
</footer>

<button class="scroll-up">
    <img src="/assets/img/icons/scroll-up.svg" alt="">
</button>