<section class="career-invite">
    <div class="container">
        <h2 class="block-heading">Станьте частью команды Nord Minerals</h2>
        <div class="career-invite__text">
            Мы – команда экспертов в отрасли. Для нас важна гибкий подход к изменениям, возможность предложить свое
            решение и ориентация на лучший результат.
        </div>
        <div class="career-invite__buttons">
            <a href="#" class="btn">Смотреть вакансии в Юго-Восточной Азии</a>
            <a href="#" class="btn">Смотреть вакансии в Евразии</a>
        </div>
    </div>
</section>