<a href="{{ news_item.link }}" class="news-card">
    <div class="news-card__image">
        <img src="{{ news_item.thumbnail }}" alt="">
    </div>
    <div class="news-card__caption">
        <div class="news-card__title">{{ news_item.title }}</div>
        <div class="news-card__bottom">
            <div class="news-card__date">{{ news_item.date }}</div>
            <div class="news-card__arrow">
                <svg width="32" height="32">
                    <use xlink:href="/assets/img/arrows/round-arrows.svg#right"></use>
                </svg>
            </div>
        </div>
    </div>
</a>