.about-first {
  .about-brochure {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .about-first {
    height: auto;

    .page-heading-wrapper {
      padding-top: 24px;
      padding-bottom: 40px;
    }
    &__top {
      margin: 0 -16px;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      height: 415px;
      overflow: hidden;
    }
    .about-brochure {
      margin-top: 40px;
    }
  }

  .about-first-background {
    right: -92px;
    bottom: -12px;
  }
}


.about-brochure {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  //border-image-source: linear-gradient(180deg, #FFFFFF 0%, #65C9DA 100%);
  padding: 24px;
  border-radius: 4px;

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 8px;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
  }

  &__btn {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .about-brochure {
    padding: 0;
    border: 0;
  }
}


.about-history {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #425666;
  color: #fff;
}

.about-history-divider {
  height: 1px;
  background-color: #FFFFFF;
}

.about-history-slider {
  overflow: visible;
  cursor: grab;

  &--grabbing {
    cursor: grabbing;
  }
  .swiper-slide {
    padding-top: 64px;
    padding-bottom: 96px;
    padding-left: 16px;
    width: auto;
  }
}

.about-history-progress {
  height: 8px;
  background-color: #E0E0E0;
  .wrapper-section {
    height: 100%;
    overflow: hidden;
  }
}
.about-history-progressbar {
  height: 100%;
  border-radius: 0 24px 24px 0;
  background-color: #27B0C7;
  width: 0;
}

.about-date {
  width: 294px;
  min-height: 180px;
  position: relative;
  padding-left: 14px;
  &__year {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-top: 8px;
    max-width: 160px;
  }

  &__mark {
    position: absolute;
    width: 16px;
    height: 16px;
    left: -8px;
    border-radius: 50%;
    background-color: #27B0C7;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      opacity: 0;
      transition: {
        duration: .3s;
        property: transform, opacity;
      };
    }

    &:before {
      border: 6px solid #27B0C7B2;
      width: 35px;
      height: 35px;
    }
    &:after {
      border: 9px solid #27B0C766;
      width: 59px;
      height: 59px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-left: 1px dashed rgba(255, 255, 255, 0.5);
  }

  &--marked &__mark {
    &:before, &:after {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
}
.about-history-row {
  display: flex;
  &--first {
    padding-left: 147px;
    .about-date {
      padding-bottom: 20px;
      &__mark {
        bottom: -8px;
      }
    }
  }
  &--second {
    align-items: flex-start;
    .about-date {
      padding-top: 130px;
      min-height: unset;

      &:before {
        height: calc(100% - 1em);
      }
      &__mark {
        top: -8px;
      }
    }
  }
}


@media (max-width: 767px) {
  .about-history-slider {
    .swiper-slide {
      padding-top: 40px;
      padding-bottom: 16px;
      padding-left: 110px;
    }
  }

  .about-date {
    width: 210px;
  }

  .about-history-row--first {
    padding-left: 105px;
  }
}

@media (min-width: 1441px) {
  .about-history-wrapper {
    overflow: hidden;
    background: inherit;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -20%;
      height: 140%;
      width: 50px;
      filter: blur(10px);
      background: inherit;
      z-index: 10;
    }
    &:before {
      left: -25px;
    }
    &:after {
      right: -25px;
    }
  }
}


.about-image {
  background: #BCCBD6;
  color: #262F36;

  .block-heading {
    color: inherit;
    line-height: 114%;
  }

  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-top: 8px;
  }

  &__image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(6, 33, 55, 0.7);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.about-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}


.about-image-text {
  width: calc(60% - 30px);
  max-width: 630px;
  padding-bottom: 70px;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .about-image {
    .block-heading {
      font-size: 24px;
      line-height: 100%;
      color: #425666;
    }
    &__image {
      position: relative;
      width: 100%;
      height: 305px;
    }
  }
  .about-image-text {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}


.about-mission {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding-top: 258px;
  padding-bottom: 258px;
  background: {
    repeat: no-repeat;
    image: url('/assets/img/pages/about/mission-background.png');
    size: cover;
    position: center center;
  };

  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 8px;
  }
}

.about-mission-text {
  border: 1px solid #FFFFFF;
  //border-image-source: linear-gradient(180deg, #FFFFFF 0%, #65C9DA 100%);
  border-radius: 4px;
  padding: 40px;
}

.about-mission-wrapper {
  display: flex;
  column-gap: 30px;
}

.about-mission-quote--open {
  transform: translateY(calc(-100% + 20px));
}
.about-mission-quote--close {
  transform: translateY(calc(100% - 20px));
}

@media (max-width: 1100px) {
  .about-mission {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .about-mission-quote--open {
    height: 140px;
    transform: translateY(calc(-100% + 14px));
  }
  .about-mission-quote--close {
    height: 140px;
    transform: translateY(calc(100% + 24px));
  }
}

@media (max-width: 767px) {
  .about-mission {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .about-mission-text {
    padding: 0;
    border: none;
  }
  .about-mission-wrapper {
    flex-direction: column;
    row-gap: 32px ;
  }
  .about-mission-quote--open,
  .about-mission-quote--close {
    transform: none;
    height: 79px;
  }
  .about-mission-quote--open {
    align-self: flex-start;
  }
  .about-mission-quote--close {
    align-self: flex-end;
  }
}
