.contacts-list-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.contact {
  padding-left: 44px;
  background: {
    image: url("/assets/img/icons/marker.svg");
    repeat: no-repeat;
    position: left top;
  };
  color: #FFFFFF;

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
  }

  &__bottom {
    display: flex;
    column-gap: 80px;
    margin-top: 8px;
  }

  &__contact {
    color: #27B0C7;
    text-decoration: none;

    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

@media (max-width: 1100px) {
  .contact {
    &__bottom {
      flex-direction: column;
    }
  }
}

@media (max-width: 767px) {
  .contact {
    &__title {
      font-size: 24px;
      line-height: 30px;
    }
    &__contact {
      font-size: 20px;
      line-height: 30px;
    }
  }
}


/* CONTACTS GEOGRAPHY */
.contacts-geography {
  background-color: rgba(83, 101, 119, 0.4);
}

.cg-dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cg-dot {
  --anim-duration: .3s;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  color: #27B0C7;
  align-items: center;
  transition: {
    duration: var(--anim-duration, .3s);
    property: background-color;
  };
  cursor: pointer;

  &:before {
    content: '';
    width: 20px;
    height: 25px;
    background: {
      image: url("/assets/img/icons/marker-cg.svg");
      size: 100%;
    };
    margin-top: 8px;
    margin-bottom: 8px;
    will-change: transform;
    transition: {
      duration: var(--anim-duration, .3s);
      property: transform;
    };
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__description {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__text {
    will-change: width;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    transition: {
      duration: var(--anim-duration, .3s);
      property: width, margin-left, margin-right;
    };

  }

  &.hovered,
  &.active {
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
    &:before {
      transform: scale(0.8) translateX(2px);
    }
  }
  &.hovered &__text,
  &.active &__text {
    margin-left: 6px;
    margin-right: 4px;
  }
  &.active &__text {
    width: auto;
  }
}

.cg-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  visibility: hidden;
  opacity: 0;

  transition: {
    duration: .3s;
    property: opacity, visibility;
  };

  &:not(.js-enabled) {
    display: none;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
.cg-popup-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cg-popup-inner {
  padding: 0;
  overflow: hidden;
}
.cg-popup-fill {
  flex: 1;
  &--white {
    background-color: #BCCBD6;
  }
}

.cg-popup-background {
  background-color: rgba(38, 47, 54, 0.7);
  width: 100%;
  height: 100%;
}

.cg-popup-content {
  background-color: #BCCBD6;
  width: 100%;
  max-width: 675px;
  height: 100%;
  overflow: auto;
  position: relative;
  transition: {
    duration: .5s;
    property: transform;
  };

  display: flex;
  align-items: center;
  padding: 48px 48px 48px 20px;
}
.cg-popup-close {
  position: absolute;
  right: 32px;
  top: 32px;
  color: #fff;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.cg-popup-dot {
  color: #262F36;
  letter-spacing: 0.05em;
  padding-left: 52px;
  background: {
    image: url("/assets/img/icons/marker.svg");
    repeat: no-repeat;
    position: left top;
  };

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__address {
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  &__contact {
    display: block;
    color: #27B0C7;
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}


@media (max-width: 767px) {
  .contacts-geography {
    display: none;
  }
}