.ns-first {
  .back-link {
    margin-bottom: 16px;
  }
}


.ns-first-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #425666;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:before {
    mix-blend-mode: color;
    background: #052036;
    z-index: 1;
  }
  &:after {
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  img {
    opacity: .3;
  }
}

.ns-first-wrapper {
  max-width: unset;
}


.ns-date {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 16px;

  font-family: 'Akzidenz-Grotesk Pro', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;


  &:before {
    content: '';
    width: 24px;
    height: 24px;
    background: {
      image: url("/assets/img/icons/calendar.svg");
      position: center center;
      repeat: no-repeat;
    };
  }
}

@media (max-width: 767px) {
  .ns-first {
    height: auto;

    .back-link {
      margin-bottom: 24px;
    }
    .ns-date {
      margin-top: 24px;
    }

    .block-heading {
      word-break: break-word;
    }
  }
}


.ns-content {
  font-family: 'Akzidenz-Grotesk Pro', sans-serif;
  background-color: #BCCBD6;
  --container-width: 840px;
  padding-top: 56px;
  padding-bottom: 56px;

  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0.05em;

  color: #262F36;

  p:not(:last-child) {
    margin-bottom: 1.1em;
  }

  ol, ul {
    padding-left: 20px;
    &:not(:last-child) {
      margin-bottom: 1.1em;
    }
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style: numeric;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: .83em;
  }

  h6 {
    font-size: .75em;
  }

  h1, h2, h3, h4,
  h5, h6 {
    font-weight: 600;
    line-height: 1.05;
    &:not(:last-child) {
      margin-bottom: .9em;
    }
  }
  p +,
  ul +, {
    h1, h2, h3, h4,
    h5, h6 {
      margin-top: 1em;
    }
  }

  strong, b {
    font-weight: 600;
    font-size: 0.9em;
  }
}

@media (max-width: 767px) {
  .ns-content {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

.ns-read-more {
  padding-bottom: 48px;
  padding-top: 48px;
  .news-list {
    margin-top: 56px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 56px;
  }
}

@media (max-width: 767px) {
  .ns-read-more {
    padding-top: 24px;
    padding-bottom: 24px;
    &__btn {
      margin-top: 16px;
    }
  }
}