.news-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.news-list {
  display: grid;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 56px;
  grid-template-columns: repeat(3, 1fr);
}

.news-list-wrapper {
  .news-card-skeleton {
    display: none;
  }
  &.loading {
    .news-card-skeleton {
      display: block;
    }
  }
}

.news-show-more {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
}

@media (max-width: 1100px) {
  .news-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .news-list {
    grid-template-columns: 1fr;
  }
  .news-show-more {
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;
  }
}