.service-first {
  .back-link {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .service-first {
    .page-heading-background {
      width: 125%;
    }
  }
}

.service-stages {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
}

.service-stage {
  width: 25%;
  background: linear-gradient(62.51deg, #425666 -31.81%, #314656 104.01%);
  padding: 70px 52px 82px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;

  img {
    user-select: none;
  }

  &__text {
    margin-top: 30px;
  }
}

@media (min-width: 1261px) {
  .service-stage {
    &:first-child {
      padding-left: 112px;
    }
    &:last-child {
      padding-right: 112px;
    }
  }
}

@media (max-width: 1100px) {
  .service-stages {
    flex-wrap: wrap;
  }
  .service-stage {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .service-stage {
    width: 100%;
    padding: 24px 16px 32px;
    img {
      height: 82px;
    }
  }
}