.welcome-block-container {
  --container-width: 1050px;
}

.welcome-first {
  padding-top: 35px;
  padding-bottom: 50px;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    color: #ffffff;
    margin-top: 15px;
    max-width: 640px;
  }
}
.welcome-first-container {
  --container-width: 1040px;
}

.wf-slider-container {
  --container-width: 1240px;
  --swiper-pagination-bottom: 0;
  position: relative;
  padding-bottom: 24px;
}
.wf-slider-wrapper {
  display: flex;
  column-gap: 39px;
}

.wf-slide {
  transition: {
    duration: 0.3s;
    property: opacity, backdrop-filter, background-position;
  };
  overflow: hidden;
  height: auto;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 16px;

  background: {
    image: linear-gradient(90deg, #4F677A, rgba(66, 86, 102, 0), rgba(66, 86, 102, 0));
    size: 200% 100%;
    position: 100% 0;
  };

  &:hover {
    backdrop-filter: blur(16px);
    background-position: 0 0;
  }

  &:not(.swiper-slide-active) {
    opacity: 0;
  }

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    //border-image-source: linear-gradient(180deg, #FFFFFF 0%, #65C9DA 100%);
    position: relative;
    z-index: 1;
    height: 100%;
  }
  &__arrow {
    align-self: flex-end;
    color: #65C9DA;
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    max-width: 370px;
    color: #ffffff;
    margin-top: 11px;
  }
}

.wf-background {
  position: absolute;
  z-index: -1;
  bottom: -50px;
  right: 77px;
  video {
    height: 600px;
  }
}

@media (max-width: 1100px) {
  .wf-background {
    right: -150px;
    bottom: 0;
    video {
      height: 500px;
    }
  }
}
@media (max-width: 767px) {
  .welcome-first {
    height: auto;
    &__title {
      font-size: 24px;
      line-height: 100%;
    }
    &__subtitle {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .wf-slider {
    width: 100%;
    overflow: visible;
  }
  .wf-slider-container {
    margin-top: 270px;
    padding-bottom: 37px;
  }
  .wf-slider-wrapper {
    margin: 0 -16px;
    padding: 0 16px;
    .big-slider-arrow {
      display: none;
    }
  }
  .wf-slide {
    padding: 24px 0 16px 0;
    border: 0;
    background: none;
    &:hover {
      backdrop-filter: blur(0);
    }
    &__arrow {
      display: none;
    }
    &__title {
      font-size: 20px;
      line-height: 32px;
    }
    &__description {
      font-size: 15px;
      line-height: 20px;
      margin-top: 16px;
    }
  }

  .wf-background {
    bottom: 170px;
    right: -280px;

    video {
      height: 430px;
    }
  }
}

.welcome-about {
  height: 625px;
  padding-top: 40px;
  color: #FFFFFF;
  position: relative;

  .block-heading {
    color: #FFFFFF;
  }

  &__background {
    background: {
      image: url("/assets/img/pages/welcome/about.png");
      size: cover;
      repeat: no-repeat;
      position: right center;
    };
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;

      mix-blend-mode: overlay;
      background-color: rgba(#425666, .5);
    }
  }

  &__info {
    margin-top: 29px;
  }
  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    max-width: 490px;
  }
  &__link {
    margin-top: 32px;
  }
}
.welcome-about-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 145px;
}


@media (max-width: 767px) {
  .welcome-about {
    height: 415px;
    padding-top: 24px;
    &__background {
      background-position: center;
      &:before {
        mix-blend-mode: initial;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    &__info {
      margin-top: 16px;
    }
    &__link {
      margin-top: 16px;
    }
  }
}

/* CLIENTS */
.clients {
  background-color: #BCCBD6;
  padding-top: 36px;
  padding-bottom: 67px;
}
.clients-slider-container {
  --container-width: 1260px;
  margin-top: 48px;
  .slider-arrow {
    color: #27B0C7;
  }
  .slider-pagination {
    display: none;
  }
}

.clients-slider {
  .swiper-wrapper {
    align-items: center;
  }
}

.clients-slider-wrapper {
  display: flex;
  column-gap: 25px;
}
.client-slide {
  height: auto;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.client-link {
  img {
    filter: grayscale(100%);
    transition: .2s filter;
  }
  &:hover img {
    filter: grayscale(0%);
  }
}

@media (max-width: 767px) {
  .clients {
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .client-slide {
    width: auto;
  }
  .clients-slider-container {
    margin-top: 16px;
    padding-bottom: 32px;
    position: relative;
    --swiper-pagination-bottom: 0;

    .slider-arrow {
      display: none;
    }
    .slider-pagination {
      display: block;
    }
  }
  .clients-slider-wrapper {
    margin: 0 -16px;
    padding: 0 16px;
    overflow: hidden;
  }
  .clients-slider {
    overflow: visible;
  }
}
/* CLIENTS */

/* GEOGRAPHY */

.geography {
  height: 808px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #425666 65.99%, #4F677A 100%);

  .block-heading {
    color: #FFFFFF;
    padding-top: 48px;
  }
}

.geography-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  position: relative;

  &.moveable {
    cursor: grab;
  }
  &.grabbing {
    cursor: grabbing;
  }
}
.geography-inner {
  position: relative;
  z-index: 10;
}

.geography-background {
  height: 1680px;
  object-fit: cover;
  mix-blend-mode: multiply;
  max-width: unset;
  position: absolute;
  top: -593px;
  right: 0;
  transform: translateX(664px);
  pointer-events: none;
}

.geography-map {
  width: 1440px;
  position: absolute;
  transition: .1s left ease-out;
  will-change: left;
}

.geography-dots {
  position: absolute;
  top: 0;
  right: 0;
  width: 1440px;
  height: 100%;
  z-index: 20;
}

.geography-dot {
  position: absolute;
  padding-left: 30px;
  padding-top: 10px;
  color: #FFFFFF;
  --anim-duration: .4s;
  --anim-delay: .1s;
  cursor: default;

  &__inner {
    width: 0;
    overflow: hidden;
    transition: {
      duration: 0s, var(--anim-duration, .3s);
      property: width, opacity;
      delay: var(--anim-duration, .3s), var(--anim-delay, .15s);
    };
    padding-bottom: 4px;
    opacity: 0;
    cursor: text;
    div {
      transform: translateX(-100%);
      transition: var(--anim-duration, .3s) transform;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 13px;
    background-color: #65C9DA;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: var(--anim-duration, .3s) transform;
  }
  &:after {
    content: "";
    width: 20px;
    height: 10px;
    background-image: url("/assets/img/map-triangle.svg");
    position: absolute;
    left: 0;
    top: 0;
    transition: var(--anim-duration, .3s) top;
  }
  &:hover {
    &:before {
      transform: scale3d(1.666667,1.6666667,1);
    }
    &:after {
      top: -7px;
    }
  }
  &:hover &__inner {
    width: 165px;
    transition-delay: 0s, var(--anim-delay, .15s);
    opacity: 1;
    div {
      transform: translateX(0);
    }
  }
}

.geography-infographic {
  position: relative;
  padding-left: 5px;
  margin-top: 250px;
  &__text {
    position: absolute;
    left: 560px;
    top: 85px;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

@media (max-width: 920px) {
  .geography-infographic {
    &__count {
      img {
        height: 200px;
      }
    }
    &__text {
      left: 410px;
      top: 55px;
    }
  }
}

@media (max-width: 767px) {
  .geography {
    height: 490px;
    padding-bottom: 25px;
    background: none;
    .block-heading {
      padding-top: 25px;
    }
  }
  .geography-background {
    height: 590px;
    top: 0;
    transform: none;
    right: auto;
    object-position: left -645px top -220px;

  }
  .geography-dots {
    display: none;
  }
  .geography-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .geography-infographic {
    margin-top: 0;
    position: static;
    &__count {
      padding: 0;
      img {
        height: 140px;
      }
    }
    &__text {
      position: static;
      margin-top: 25px;
      font-size: 16px;
      line-height: 28px;
    }
  }
}
/* GEOGRAPHY */