.welcome-block-container {
  --container-width: 1050px;
}

.welcome-first {
  padding-top: 35px;
  padding-bottom: 50px;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    color: #ffffff;
    margin-top: 15px;
    max-width: 640px;
  }
}

.welcome-first-container {
  --container-width: 1040px;
}

.wf-slider.swiper-initialized {
  .wf-slide:not(.swiper-slide-active) {
    opacity: 0;
  }
}
.wf-slider-container {
  --container-width: 1240px;
  --swiper-pagination-bottom: 0;
  position: relative;
  padding-bottom: 24px;
}

.wf-slider-wrapper {
  display: flex;
  column-gap: 39px;
}

.wf-slide {
  transition: {
    duration: 0.3s;
    property: opacity, backdrop-filter, background-position;
  };
  overflow: hidden;
  height: auto;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 16px;

  background: {
    image: linear-gradient(90deg, #4F677A, rgba(66, 86, 102, 0), rgba(66, 86, 102, 0));
    size: 200% 100%;
    position: 100% 0;
  };

  &:hover {
    backdrop-filter: blur(16px);
    background-position: 0 0;
  }



  &__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    //border-image-source: linear-gradient(180deg, #FFFFFF 0%, #65C9DA 100%);
    position: relative;
    z-index: 1;
    height: 100%;
  }

  &__arrow {
    align-self: flex-end;
    color: #65C9DA;
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    max-width: 370px;
    color: #ffffff;
    margin-top: 11px;
  }
}

.wf-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  video, img {
    position: absolute;
    height: 600px;
    right: -67px;
    bottom: -50px;
  }
}

@media (max-width: 1100px) {
  .wf-background {

    video, img {
      height: 500px;
      right: -150px;
      bottom: 0;
    }
  }
}

@media (max-width: 767px) {
  .welcome-first {
    height: auto;

    &__title {
      font-size: 24px;
      line-height: 100%;
    }

    &__subtitle {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .wf-slider {
    width: 100%;
    overflow: visible;
  }
  .wf-slider-container {
    margin-top: 270px;
    padding-bottom: 37px;
  }
  .wf-slider-wrapper {
    margin: 0 -16px;
    padding: 0 16px;

    .big-slider-arrow {
      display: none;
    }
  }
  .wf-slide {
    padding: 24px 0 16px 0;
    border: 0;
    background: none;

    &:hover {
      backdrop-filter: blur(0);
    }

    &__arrow {
      display: none;
    }

    &__title {
      font-size: 20px;
      line-height: 32px;
    }

    &__description {
      font-size: 15px;
      line-height: 20px;
      margin-top: 16px;
    }
  }

  .wf-background {
    video, img {
      height: 430px;
      bottom: 170px;
      right: -280px;
    }
  }
}

.welcome-about {
  height: 625px;
  padding-top: 40px;
  color: #FFFFFF;
  position: relative;

  &__background {
    background: {
      image: url("/assets/img/pages/welcome/about.png");
      size: cover;
      repeat: no-repeat;
      position: right center;
    };
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;

      mix-blend-mode: overlay;
      background-color: rgba(#425666, .5);
    }
  }

  &__info {
    margin-top: 29px;
  }

  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    max-width: 490px;
  }

  &__link {
    margin-top: 32px;
  }
}

.welcome-about-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 145px;
}


@media (max-width: 767px) {
  .welcome-about {
    height: 415px;
    padding-top: 24px;

    &__background {
      background-position: center;

      &:before {
        mix-blend-mode: initial;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    &__info {
      margin-top: 16px;
    }

    &__link {
      margin-top: 16px;
    }
  }
}

/* CLIENTS */
.clients {
  background-color: #BCCBD6;
  padding-top: 36px;
  padding-bottom: 67px;
  .block-heading {
    color: #262F36;
  }
}

.clients-slider-container {
  --container-width: 1260px;
  margin-top: 48px;

  .slider-arrow {
    color: #27B0C7;
  }

  .slider-pagination {
    display: none;
  }
}

.clients-slider {
  .swiper-wrapper {
    align-items: center;
  }
  &:not(.swiper-initialized) {
    .swiper-slide {
      width: auto;
    }
  }
}

.clients-slider-wrapper {
  display: flex;
  column-gap: 25px;
}

.client-slide {
  height: auto;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.client-link {
  img {
    filter: grayscale(100%);
    transition: .2s filter;
  }

  &:hover img {
    filter: grayscale(0%);
  }
}

@media (max-width: 767px) {
  .clients {
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .client-slide {
    width: auto;
  }
  .clients-slider-container {
    margin-top: 16px;
    padding-bottom: 32px;
    position: relative;
    --swiper-pagination-bottom: 0;

    .slider-arrow {
      display: none;
    }

    .slider-pagination {
      display: block;
    }
  }
  .clients-slider-wrapper {
    margin: 0 -16px;
    padding: 0 16px;
    overflow: hidden;
  }
  .clients-slider {
    overflow: visible;
  }
}

/* CLIENTS */

.welcome-news {
  padding-top: 15px;
  padding-bottom: 25px;
}

.wn-slider-container {
  --container-width: 1240px;
  margin-top: 40px;
}

.wn-slider-wrapper {
  display: flex;
  column-gap: 40px;
}

.wn-slider {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 1px;

  .swiper-slide {
    height: auto;
  }
}

.wn-show-more {
  display: none;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .wn-slider-wrapper {
    .big-slider-arrow {
      display: none;
    }
  }
  .wn-slider {
    overflow: visible;

    .swiper-wrapper {
      flex-direction: column;
      row-gap: 16px;
      height: auto;
    }

    .swiper-slide:nth-child(n + 4) {
      display: none;
    }
  }
  .wn-show-more {
    display: inline-flex;
  }
}
