body {
  background-color: #425666;
  font-family: 'Akzidenz-Grotesk Pro Ext', sans-serif;
  min-width: 320px;
}

.container {
  max-width: var(--container-width, 1260px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.small-container {
  --container-width: 1050px;
}

@media (max-width: 767px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

body.ohidden {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

.copyright {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.btn {
  font-family: 'Akzidenz-Grotesk Pro', sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  //border-image-source: linear-gradient(180deg, #FFFFFF 0%, #65C9DA 100%); // TODO: Разобраться с отображением градиентной границы
  display: inline-flex;
  color: #65CADA;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;

  border-radius: 4px;
  padding-right: 12px;
  padding-left: 12px;
  gap: 10px;

  position: relative;

  transition: {
    duration: .3s;
    property: backdrop-filter, background-position, color, opacity;
  };

  background: {
    image: linear-gradient(90deg, #65C9DA, rgba(66, 86, 102, 0), rgba(66, 86, 102, 0));
    size: 200% 100%;
    position: 100% 0;
  };

  &:not(:disabled):hover {
    background-position: 0 0;
    color: #FFFFFF;
    backdrop-filter: blur(16px);
  }
  &:disabled {
    opacity: 0.8;
    cursor: default;
  }
}

.block-heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .block-heading {
    font-size: 24px;
    line-height: 100%;
  }
}

.back-link {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  color: #FFFFFF;
  text-decoration: none;
  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: {
      image: url("/assets/img/arrows/back-arrow.svg");
      repeat: no-repeat;
      position: left top;
    }
    align-self: flex-start;
  }
}