.directions-list {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}

.directions-show-more {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .directions-list {
    gap: 16px;
    grid-template-columns: 1fr;
  }
  .directions-show-more {
    margin-top: 16px;
  }
}
@media (max-width: 575px) {
  .directions-show-more {
    width: 100%;
  }
}

.direction {
  border: 1px solid #FFFFFF;
  //border-image-source: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #FFFFFF 0%, #65C9DA 100%);

  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 42px 42px 50px;
  border-radius: 8px;

  &__heading {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__title {
    align-self: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 114%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__inner {
    position: relative;
    padding-top: 44px;
    margin-top: 30px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 2px;
      width: 100%;
      background: linear-gradient(62.51deg, #27B0C7 -31.81%, #425666 104.01%);
    }

    ul {
      list-style: none;
      li {
        display: flex;
        column-gap: 12px;

        &:before {
          content: '';
          display: block;
          width: 11px;
          height: 11px;
          background: #27B0C7;
          margin-top: 3px;
        }
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .direction {
    padding: 16px 16px 20px;
    &__heading {
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 16px;
    }

    &__title {
      align-self: flex-start;
    }
    &__inner {
      margin-top: 16px;
      padding-top: 26px;
    }
  }
}

.directions-hiding {
  --anim-duration: .6s;
  .directions-list-wrapper {
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      background: linear-gradient(357.11deg, #425666 59.41%, rgba(66, 86, 102, 0) 113.91%);
      filter: blur(44px);
      position: absolute;
      bottom: -187px;
      width: 500%;
      transform: translateX(-50%);
      height: 374px;
      z-index: 1;
      transition: {
        duration: var(--anim-duration, .4s);
        property: visibility, opacity;
      };
    }
  }
  .directions-list {
    transition: var(--anim-duration, .4s) height;
  }

  &:not(&--all) {
    .direction:nth-child(n + 7) {
      display: none;
    }
  }
  &--all {
    .directions-show-more {
      display: none;
    }
    .directions-list-wrapper:after {
      opacity: 0;
      visibility: hidden;
    }
  }
}


@media (max-width: 767px) {
  .directions-hiding {
    .directions-list-wrapper:after {
      content: none;
    }

    &:not(&--all) {
      .direction:nth-child(n + 4) {
        display: none;
      }
    }
  }
}