.big-slider-arrow {
  min-width: 56px;
  width: 56px;
  background: {
    repeat: no-repeat;
    size: 100% 100%;
    position: center;
    color: transparent;
  };
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    background: {
      repeat: no-repeat;
      size: 100% 100%;
      position: center;
    };
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: {
      repeat: no-repeat;
      position: center;
    };
    height: 16px;
    width: 9px;
  }

  &--prev {
    background-image: url("/assets/img/arrows/big-arrow-left-border.svg");
    &:before {
      background-image: url("/assets/img/arrows/big-arrow-left-hover.svg");
    }
    &:after {
      background-image: url("/assets/img/arrows/big-arrow-left.svg");
    }
  }
  &--next {
    background-image: url("/assets/img/arrows/big-arrow-right-border.svg");
    &:before {
      background-image: url("/assets/img/arrows/big-arrow-right-hover.svg");
    }
    &:after {
      background-image: url("/assets/img/arrows/big-arrow-right.svg");
    }
  }

  &:hover:before {
    opacity: 1;
  }
}

.slider-arrow {
  border: 0;
  padding: 0;
  display: inline-block;
  background: none;
  cursor: pointer;
  transition: {
    duration: 0.3s;
    property: opacity, color;
  };
  &.swiper-button-disabled {
    opacity: .2;
  }
}

.slider-wrapper {
  overflow: hidden;
}

.slider-pagination {
  &.swiper-pagination-bullets {
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-width: 5px;
    --swiper-pagination-bullet-height: 5px;
    --swiper-pagination-color: #65C9DA;
    --swiper-pagination-bullet-inactive-color: #ffffff;
  }

  .swiper-pagination-bullet {
    transition: {
      property: width, background-color;
      duration: .4s;
    };
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      --swiper-pagination-bullet-width: 20px;
      cursor: default;
    }
  }
  &.swiper-pagination-bullets-dynamic {
    overflow: visible;
    &.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      transition: {
        property: width, background-color, left, transform, opacity;
        duration: .4s;
      };
    }
    .swiper-pagination-bullet {
      opacity: 0;
    }
    .swiper-pagination-bullet-active-main {
      opacity: 1;
    }
    .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullet-active-next,
    .swiper-pagination-bullet-active-prev-prev,
    .swiper-pagination-bullet-active-next-next {
      transform: none;
      opacity: 1;
    }
    .swiper-pagination-bullet-active-prev-prev,
    .swiper-pagination-bullet-active-next-next {
      opacity: .5;
    }
  }
}