<div class="direction">
    <div class="direction__heading">
        <div class="direction__title">{{ direction.title | raw }}</div>
        <div class="direction__icon">
            <img src="{{ direction.icon }}" alt="">
        </div>
    </div>
    <div class="direction__inner">
        {{ direction.text | raw }}
    </div>
</div>