{% extends 'layout.html.twig' %}

{% block content %}
    <section class="page-heading service-first">
        <div class="page-heading-wrapper">
            <div class="page-heading-background">
                <img src="/assets/img/pages/service/first-background.png" alt="">
            </div>
            <div class="container page-heading-container">
                <a href="/services" class="back-link">
                    Вернуться ко всем услугам
                </a>
                <h1 class="block-heading">Поставка<br/>оборудования</h1>
                <div class="page-heading__text">
                    Nord Minerals поставляет оборудование, запчасти и материалы от ведущих мировых производителей,
                    обеспечивая бесперебойную работу и стабильную производительность.
                </div>
            </div>
        </div>
    </section>

    <section class="service-stages">
        <div class="service-stage">
            <img src="/assets/img/big-numbers/1.svg" alt="">
            <div class="service-stage__text">
                Подбор оборудования, поставка запасных частей и&nbsp;материалов ведущих мировых производителей
            </div>
        </div>
        <div class="service-stage">
            <img src="/assets/img/big-numbers/2.svg" alt="">
            <div class="service-stage__text">
                Контроль качества изготовления<br/>на&nbsp;всех стадиях производства оборудования
            </div>
        </div>
        <div class="service-stage">
            <img src="/assets/img/big-numbers/3.svg" alt="">
            <div class="service-stage__text">
                Выполнение контрольной сборки
            </div>
        </div>
        <div class="service-stage">
            <img src="/assets/img/big-numbers/4.svg" alt="">
            <div class="service-stage__text">
                Консигнационные склады запасных частей
            </div>
        </div>
    </section>
{% endblock %}