{% extends 'layout.html.twig' %}

{% block content %}
    <section class="page-heading service-first">
        <div class="page-heading-wrapper">
            <div class="page-heading-background">
                <img src="/assets/img/pages/service/first-background.png" alt="">
            </div>
            <div class="container page-heading-container">
                <a href="/services" class="back-link">
                    Вернуться ко всем услугам
                </a>
                <h1 class="block-heading">Поставка<br/>оборудования</h1>
                <div class="page-heading__text">
                    Nord Minerals поставляет оборудование, запчасти и материалы от ведущих мировых производителей,
                    обеспечивая бесперебойную работу и стабильную производительность.
                </div>
            </div>
        </div>
    </section>

    <section class="service-stages">
        {% for stage in [
            {number: 1, text: 'Подбор оборудования, поставка запасных частей и&nbsp;материалов ведущих мировых производителей'},
            {number: 2, text: 'Контроль качества изготовления<br/>на&nbsp;всех стадиях производства оборудования'},
            {number: 3, text: 'Выполнение контрольной сборки'},
            {number: 4, text: 'Консигнационные склады запасных частей'},
            {number: 1, text: 'Консигнационные склады запасных частей'},
        ] %}
            <div class="service-stage">
                <img src="/assets/img/big-numbers/{{ stage.number }}.svg" alt="">
                <div class="service-stage__text">
                    {{ stage.text | raw }}
                </div>
            </div>
        {% endfor %}
    </section>

    {% set directions = [
        {title: 'Дробление<br />и сортировка', icon: '/assets/img/sample/service/directions/1.svg',
            text: '<ul><li>Гирационные дробилки</li><li>Конусные дробилки</li><li>Щековые дробилки</li><li>Грохоты</li><li>Дробилки ударного типа с&nbsp;вертикальным <br />и&nbsp;горизонтальным валом</li><li>Питатели</li><li>Гидромолоты</li></ul>'},
        {title: 'Измельчение <br />и обогащение', icon: '/assets/img/sample/service/directions/2.svg',
            text: '<ul><li>Мельницы самоизмельчения и&nbsp;мельницы полусамоизмельчения</li><li>Шаровые и галечные мельницы</li><li>Стержневые мельницы</li><li>Вертикальные мельницы</li></ul>'},
        {title: 'Классификация <br />и сепарация', icon: '/assets/img/sample/service/directions/2.svg',
            text: '<ul><li>Гидроциклонное оборудование</li><li>Винтовые сепараторы</li><li>Магнитные сепараторы</li><li>Отсадочные машины</li><li>Концентрационные столы</li><li>Центробежные концентраторы</li></ul>'},
        {title: 'Дробление<br />и сортировка', icon: '/assets/img/sample/service/directions/1.svg',
            text: '<ul><li>Гирационные дробилки</li><li>Конусные дробилки</li><li>Щековые дробилки</li><li>Грохоты</li><li>Дробилки ударного типа с&nbsp;вертикальным <br />и&nbsp;горизонтальным валом</li><li>Питатели</li><li>Гидромолоты</li></ul>'},
        {title: 'Измельчение <br />и обогащение', icon: '/assets/img/sample/service/directions/2.svg',
            text: '<ul><li>Мельницы самоизмельчения и&nbsp;мельницы полусамоизмельчения</li><li>Шаровые и галечные мельницы</li><li>Стержневые мельницы</li><li>Вертикальные мельницы</li></ul>'},
        {title: 'Классификация <br />и сепарация', icon: '/assets/img/sample/service/directions/2.svg',
            text: '<ul><li>Гидроциклонное оборудование</li><li>Винтовые сепараторы</li><li>Магнитные сепараторы</li><li>Отсадочные машины</li><li>Концентрационные столы</li><li>Центробежные концентраторы</li></ul>'},
        {title: 'Дробление<br />и сортировка', icon: '/assets/img/sample/service/directions/1.svg',
            text: '<ul><li>Гирационные дробилки</li><li>Конусные дробилки</li><li>Щековые дробилки</li><li>Грохоты</li><li>Дробилки ударного типа с&nbsp;вертикальным <br />и&nbsp;горизонтальным валом</li><li>Питатели</li><li>Гидромолоты</li></ul>'},
        {title: 'Измельчение <br />и обогащение', icon: '/assets/img/sample/service/directions/2.svg',
            text: '<ul><li>Мельницы самоизмельчения и&nbsp;мельницы полусамоизмельчения</li><li>Шаровые и галечные мельницы</li><li>Стержневые мельницы</li><li>Вертикальные мельницы</li></ul>'},
        {title: 'Классификация <br />и сепарация', icon: '/assets/img/sample/service/directions/2.svg',
            text: '<ul><li>Гидроциклонное оборудование</li><li>Винтовые сепараторы</li><li>Магнитные сепараторы</li><li>Отсадочные машины</li><li>Концентрационные столы</li><li>Центробежные концентраторы</li></ul>'},
        {title: 'Дробление<br />и сортировка', icon: '/assets/img/sample/service/directions/1.svg',
            text: '<ul><li>Гирационные дробилки</li><li>Конусные дробилки</li><li>Щековые дробилки</li><li>Грохоты</li><li>Дробилки ударного типа с&nbsp;вертикальным <br />и&nbsp;горизонтальным валом</li><li>Питатели</li><li>Гидромолоты</li></ul>'},
        {title: 'Измельчение <br />и обогащение', icon: '/assets/img/sample/service/directions/2.svg',
            text: '<ul><li>Мельницы самоизмельчения и&nbsp;мельницы полусамоизмельчения</li><li>Шаровые и галечные мельницы</li><li>Стержневые мельницы</li><li>Вертикальные мельницы</li></ul>'},
        {title: 'Классификация <br />и сепарация', icon: '/assets/img/sample/service/directions/2.svg',
            text: '<ul><li>Гидроциклонное оборудование</li><li>Винтовые сепараторы</li><li>Магнитные сепараторы</li><li>Отсадочные машины</li><li>Концентрационные столы</li><li>Центробежные концентраторы</li></ul>'},
    ] %}
    <section class="service-directions directions directions-hiding">
        <div class="container">
            <h2 class="block-heading">Технологические<br />направления</h2>

            <div class="directions-list-wrapper">
                <div class="directions-list">
                    {% for direction in directions %}
                        {% include 'components/service/direction.html.twig' %}
                    {% endfor %}
                </div>
            </div>

            <button class="directions-show-more btn" type="button">показать ещё</button>
        </div>
    </section>

    {% set gallery = [
        '/assets/img/sample/gallery.png',
        '/assets/img/sample/gallery.png',
        '/assets/img/sample/gallery.png',
    ] %}
    {% include 'components/gallery.html.twig' %}

    {% set instruments = [
        {icon: '/assets/img/pages/service/instr-1.svg', text: '3D и 4D-моделирование'},
        {icon: '/assets/img/pages/service/instr-2.svg', text: 'Прогрессивная система технического документооборота'},
        {icon: '/assets/img/pages/service/instr-3.svg', text: 'Современные способы сбора исходных данных'},
    ] %}
    <section class="iconed-text-section">
        <div class="container">
            <div class="block-heading">Инновационные инструменты</div>
            <div class="iconed-text-list">
                {% for item in instruments %}
                    {% include 'components/iconed-text.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}