{% extends 'layout.html.twig' %}

{% block content %}
    {% set news = [
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/1.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/1.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/2.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/1.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/2.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/1.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/2.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/1.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/2.jpg', link: '/news/single'},
    ] %}
    <section class="news-section">
        <div class="container news-list-wrapper"
             data-endpoint="/news/more"
             data-per_page="9"
        >
            <div class="news-list">
                {% for news_item in news %}
                    {% include 'components/news/card.html.twig' %}
                {% endfor %}
            </div>
            <button class="news-show-more btn">показать ещё</button>
        </div>
    </section>
{% endblock %}