{% extends 'layout.html.twig' %}

{% block content %}
    <section class="about-first">
        <div class="container about-first-container">
            <div class="about-first__top">
                <div class="about-first-background">
                    <img src="/assets/img/pages/about/about-first.png" alt="">
                </div>
                <h1 class="block-heading">О нас</h1>
                <div class="about-first__text">
                    Nord Minerals поставляет оборудование и&nbsp;комплексные технологические решения для&nbsp;горнодобывающей,
                    металлургической и&nbsp;химической отраслей&nbsp;— от&nbsp;предпроектных исследований до&nbsp;ввода объектов в&nbsp;эксплуатацию
                    и&nbsp;полного сервисного сопровождения.
                </div>
            </div>

            <div class="about-brochure">
                <div class="about-brochure__title">Брошюра о компании</div>
                <div class="about-brochure__text">Узнайте подробнее о компетенциях, преимуществах и продуктах<br />Nord Minerals из нашей брошюры</div>

                <a href="#" class="btn about-brochure__btn">открыть брошюру</a>{# TODO: Brochure link #}
            </div>
        </div>
    </section>
{% endblock %}