{% extends 'layout.html.twig' %}

{% block content %}
    <section class="about-first">
        <div class="container about-first-container">
            <div class="about-first__top">
                <div class="about-first-background">
                    <img src="/assets/img/pages/about/about-first.png" alt="">
                </div>
                <h1 class="block-heading">О нас</h1>
                <div class="about-first__text">
                    Nord Minerals поставляет оборудование и&nbsp;комплексные технологические решения для&nbsp;горнодобывающей,
                    металлургической и&nbsp;химической отраслей&nbsp;— от&nbsp;предпроектных исследований до&nbsp;ввода
                    объектов в&nbsp;эксплуатацию
                    и&nbsp;полного сервисного сопровождения.
                </div>
            </div>

            <div class="about-brochure">
                <div class="about-brochure__title">Брошюра о компании</div>
                <div class="about-brochure__text">Узнайте подробнее о компетенциях, преимуществах и продуктах<br/>Nord
                    Minerals из нашей брошюры
                </div>

                <a href="#" class="btn about-brochure__btn">открыть брошюру</a>{# TODO: Brochure link #}
            </div>
        </div>
    </section>

    {% set dates = [
        {year: 2006, text: 'Открытие первого офиса Nord Minerals в Казахстане'},
        {year: 2009, text: 'Запуск сервисной службы Nord Minerals'},
        {year: 2013, text: 'Расширение продуктового портфеля для всех этапов производственного цикла'},
        {year: 2016, text: 'Открытие штаб-квартиры в ЮАР'},
        {year: 2019, text: 'Выход на рынки Узбекистана и Армении'},
        {year: 2020, text: 'Запуск службы инжиниринга', marked: true},
        {year: 2021, text: 'Выход на рынки Кыргызстана и Монголии'},
        {year: 2021, text: 'Заключение эксклюзивных партнерств с ROITECH и Element Mining and Construction (ELMC) в странах присутствия Nord Minerals'},
        {year: 2022, text: 'Выход на Индонезийский рынок'},
        {year: 2022, text: 'Выход на Индонезийский рынок'},
        {year: 2022, text: 'Выход на Индонезийский рынок'},
        {year: 2022, text: 'Выход на Индонезийский рынок'},
        {year: 2022, text: 'Выход на Индонезийский рынок'},
        {year: 2022, text: 'Выход на Индонезийский рынок'},
        {year: 2022, text: 'Выход на Индонезийский рынок'},
        {year: 2022, text: 'Выход на Индонезийский рынок'},
    ] %}
    <section class="about-dates slider-wrapper">
        <div class="container about-dates-container">
            <div class="swiper about-dates-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="about-dates-row about-dates-row--first">
                            {% for item in dates %} {# Вверху выводим нечетные #}
                                {% if loop.index % 2 == 0 %}
                                    {% include 'components/about/date.html.twig' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="about-dates-divider"></div>
                        <div class="about-dates-row about-dates-row--second">
                            {% for item in dates %} {# Внизу выводим четные #}
                                {% if loop.index % 2 == 1 %}
                                    {% include 'components/about/date.html.twig' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-dates-scrollbar-wrapper">
            <div class="about-dates-scrollbar-inner">
                <div class="swiper-scrollbar about-dates-scrollbar"></div>
            </div>
        </div>
    </section>

    <section class="about-image">
        <div class="about-image-wrapper">
            <div class="container">
                <div class="about-image-text">
                    <h2 class="about-image__title block-heading">создавая будущее ответственно</h2>
                    <div class="about-image__description">Nord Minerals создает надежные современные решения и занимает
                        активную социально-ответственную позицию. Мы работаем по международным стандартам корпоративного
                        управления, поддерживаем прозрачность бизнеса и предлагаем услуги высочайшего качества.
                    </div>
                </div>
            </div>
            <div class="about-image__image">
                <img src="/assets/img/pages/about/men.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="about-mission">
        <div class="container about-mission-wrapper">
            <img src="/assets/img/pages/about/quote-open.svg" alt="" class="about-mission-quote about-mission-quote--open">
            <div class="about-mission-text">
                <h2 class="about-mission__title block-heading">Наша миссия</h2>
                <div class="about-mission__description">Мы&nbsp;предлагаем эффективные решения высочайшего уровня,
                    чтобы&nbsp;обеспечить успех наших клиентов
                </div>
            </div>
            <img src="/assets/img/pages/about/quote-close.svg" alt="" class="about-mission-quote about-mission-quote--close">
        </div>
    </section>
{% endblock %}