{% extends 'layout.html.twig' %}

{% block content %}
    <section class="welcome-first">
        <div class="wf-background">
            <video src="/assets/video/welcome-background.mp4" muted autoplay></video>
        </div>

        <div class="container welcome-block-container">
            <div class="welcome-first__title">НАДЕЖНЫЙ ПОСТАВЩИК</div>
            <div class="welcome-first__subtitle">технологического оборудования<br />для переработки и обогащения полезных ископаемых</div>
        </div>

        <div class="container wf-slider-container slider-wrapper">
            <div class="wf-slider-wrapper">
                <button class="big-slider-arrow big-slider-arrow--prev"></button>
                <div class="wf-slider swiper">
                    <div class="swiper-wrapper">
                        {% for i in 1..3 %}
                            <div class="swiper-slide wf-slide">
                                <a href="/services/single" class="wf-slide__link">
                                    <div class="wf-slide__text">
                                        <div class="wf-slide__title">Инжиниринг<br />и проектирование</div>
                                        <div class="wf-slide__description">
                                            Инженеры Nord Minerals разрабатывают технологические решения и автоматизируют процессы на всех этапах проекта
                                        </div>
                                    </div>
                                    <svg width="39" height="40" class="wf-slide__arrow">
                                        <use xlink:href="/assets/img/arrows/round-arrows.svg#right"></use>
                                    </svg>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <button class="big-slider-arrow big-slider-arrow--next"></button>
            </div>
            <div class="slider-pagination swiper-pagination"></div>
        </div>
    </section>

    <section class="welcome-about">
        <div class="welcome-about__background"></div>
        <div class="container welcome-block-container welcome-about-container">
            <h2 class="block-heading">О нас</h2>
            <div class="welcome-about__info">
                <div class="welcome-about__text">
                    Nord Minerals предлагает комплексные технологические решения для горнодобывающей, металлургической
                    и&nbsp;химической отраслей на&nbsp;всех этапах жизненного цикла проектов: от&nbsp;предпроектных исследований до&nbsp;ввода
                    объектов в&nbsp;эксплуатацию и&nbsp;полного сервисного сопровождения.
                </div>
                <a href="/about" class="btn welcome-about__link">подробнее</a>
            </div>
        </div>
    </section>

    <section class="clients">
        <div class="container welcome-block-container">
            <h2 class="block-heading">Клиенты</h2>
        </div>
        <div class="container clients-slider-container slider-wrapper">
            <div class="clients-slider-wrapper">
                <button class="slider-arrow slider-arrow--prev">
                    <svg width="40" height="40"><use xlink:href="/assets/img/arrows/round-arrows.svg#left"></use></svg>
                </button>
                <div class="swiper clients-slider">
                    <div class="swiper-wrapper">
                        {% for client in [1,2,3,1,2,3,1,2,3,1,2,3] %}
                            <div class="swiper-slide client-slide">
                                <a href="#" class="client-link">
                                    <img src="/assets/img/pages/welcome/clients/{{ client }}.png" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="slider-arrow slider-arrow--next">
                    <svg width="40" height="40"><use xlink:href="/assets/img/arrows/round-arrows.svg#right"></use></svg>
                </button>
            </div>
            <div class="slider-pagination swiper-pagination"></div>
        </div>
    </section>


    <section class="geography">
        <div class="geography-wrapper">
            <div class="geography-map">
                <img src="/assets/img/geography.png" class="geography-background" alt="">

                <div class="geography-dots">
                    {% for dot in [
                        {top: '80%', left: '33%', title: 'Название предприятия'},
                        {top: '5%', left: '38%', title: 'Название предприятия'},
                        {top: '4.4%', left: '40%', title: 'Название предприятия'},
                        {top: '7%', left: '56%', title: 'Название предприятия'},
                        {top: '11%', left: '68%', title: 'Название предприятия'},
                        {top: '5%', left: '44%', title: 'Название предприятия'},
                        {top: '8%', left: '48%', title: 'Название предприятия'},
                        {top: '17%', left: '20%', title: 'Название предприятия'},
                        {top: '13%', left: '28%', title: 'Название предприятия'},
                        {top: '7%', left: '46%', title: 'Название предприятия'},
                        {top: '30%', left: '55%', title: 'Название предприятия'},
                    ] %}
                        <div class="geography-dot" style="top: {{ dot.top }}; left: {{ dot.left }}">
                            <div class="geography-dot__inner">
                                <div>{{ dot.title }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container welcome-block-container geography-inner">
                <h2 class="block-heading">География</h2>
                <div class="geography-infographic">
                    <div class="geography-infographic__count">
                        <img src="/assets/img/pages/welcome/geo-count.svg" alt="">{# TODO: В дизайне цифра блюрит фон. Разобраться #}
                    </div>
                    <div class="geography-infographic__text">ОФИСОВ в Центральной, <br />Юго-Восточной Азии<br/>и Африке</div>
                </div>
            </div>
        </div>
    </section>

    {% set news = [
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/1.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/2.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/1.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/2.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/1.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/2.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/1.jpg', link: '/news/single'},
        {title: 'Заголовок новости', date: '12 февраля 2025', thumbnail: '/assets/img/sample/news/2.jpg', link: '/news/single'},
    ] %}
    <section class="welcome-news">
        <div class="container welcome-block-container">
            <h2 class="block-heading">Новости</h2>
        </div>
        <div class="container wn-slider-container">
            <div class="wn-slider-wrapper">
                <div class="big-slider-arrow big-slider-arrow--prev"></div>
                <div class="swiper wn-slider js-hidden-news">
                    <div class="swiper-wrapper" >
                        {% for news_item in news %}
                            <div class="swiper-slide">
                                {% include 'components/news/card.html.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                    <a href="/news" class="btn wn-show-more">показать ещё</a>
                </div>
                <div class="big-slider-arrow big-slider-arrow--next"></div>
            </div>
        </div>
    </section>
{% endblock %}