<div class="about-date{{ item.marked?' about-date--marked':'' }}">
    <div class="about-date__year">{{ item.year }}</div>
    <div class="about-date__text">{{ item.text }}</div>
    <div class="about-date__mark"></div>
</div>